body {
    background-image: url(img/1.png);
    background-repeat: no-repeat;
    background-color: #706d6d;
 &-header {
    background-color: #000;
 }
}
table {
    display: flex
}




header:hover {
    background-color: antiquewhite;
}
